<h3>Color App</h3>
<form>
  <div>
    <span>choice color</span>
    <label>
      <select name="color" [(ngModel)]="color">
        <option selected>Choose color</option>
        <option value="color: red">Red</option>
        <option value="color: green">Green</option>
        <option value="color: blue">Blue</option>
        <option value="color: yellow">Yellow</option>
        <option value="color: pink">Pink</option>
        <option value="color: orange">Orange</option>
        <option value="color: black">Black</option>
      </select>
    </label>
  </div>
</form>
<div style="{{color}}">
  <h2> C0821G1</h2>
