<section class="vh-100" style="background-color: #508bfc;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <h3 class="mb-5">Sign in</h3>

            <div class="form-outline mb-4">
              <label class="form-label" for="typeEmailX-2">Email</label>
              <input required minlength="6" ngModel name="email" #email="ngModel" type="email" id="typeEmailX-2"
                     class="form-control form-control-lg"/>
              <div class="alert alert-danger" *ngIf="!email.valid&&(email!.dirty || email!.touched)"> email not
                require
              </div>
            </div>

            <div class="form-outline mb-4">
              <label class="form-label" for="typePasswordX-2">Password</label>
              <input required minlength="6" ngModel name="password" #password="ngModel" type="password" id="typePasswordX-2"
                     class="form-control form-control-lg"/>
              <div class="alert alert-danger" *ngIf="!password.valid&&(email!.dirty || email!.touched)"> password not
                require
              </div>
            </div>

            <!-- country -->
            <div class="form-check d-flex">
              <input class="form-check-input" type="checkbox" name="flexRadioDefault" id="flexRadioDefault1">
              <label class="form-check-label" for="flexRadioDefault1">
                Ha Noi
              </label>
            </div>
            <div class="form-check d-flex">
              <input class="form-check-input" type="checkbox" name="flexRadioDefault" id="flexRadioDefault2" checked>
              <label class="form-check-label" for="form1Example3">
                Da Nang
              </label>
            </div>
            <div class="form-check d-flex">
              <input class="form-check-input" type="checkbox" name="flexRadioDefault" id="flexRadioDefault3" checked>
              <label class="form-check-label" for="form1Example3">
                Ho Chi Minh
              </label>
            </div>
            <!--age-->
            <div [formGroup] = 'form'  class="form-outline mb-4 ">
              <label class="form-label" >Age</label>
              <input formControlName= 'age' class="form-control form-control-lg"/>
              <small *ngIf="form.get('age').invalid && form.get('age').touched" class="text-danger"> not valid</small>
            </div>
<!--            gender-->
            <div class="form-check d-flex">
              <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault4">
              <label class="form-check-label" for="flexRadioDefault1">
                Nam
              </label>
            </div>
            <div class="form-check d-flex">
              <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault5" checked>
              <label class="form-check-label" for="flexRadioDefault2">
                Nu
              </label>
            </div>
            <button class="btn btn-primary btn-lg btn-block" type="submit">Login</button>

            <hr class="my-4">

            <button class="btn btn-lg btn-block btn-primary" style="background-color: #dd4b39;" type="submit"><i
              class="fab fa-google me-2"></i> Sign in with google
            </button>
            <button class="btn btn-lg btn-block btn-primary mb-2" style="background-color: #3b5998;" type="submit"><i
              class="fab fa-facebook-f me-2"></i>Sign in with facebook
            </button>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
