<!-- Hero Section Begin -->
<section class="hero-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="hero-text">
          <h1>Furama Resort</h1>
          <p>Here are the best hotel booking sites, including recommendations for international
            travel and for finding low-priced hotel rooms.</p>
          <a href="#" class="primary-btn">Discover Now</a>
        </div>
      </div>
    </div>
  </div>
  <div class="hero-slider owl-carousel">
    <div class="hs-item set-bg" data-setbg="assets/img/hero/hero-1.jpg"></div>
    <div class="hs-item set-bg" data-setbg="assets/img/hero/hero-2.jpg"></div>
    <div class="hs-item set-bg" data-setbg="assets/img/hero/hero-3.jpg"></div>
  </div>
</section>
<!-- Hero Section End -->
<!-- Services Section End -->
<section class="services-section spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title">
          <span>What We Do</span>
          <h2>Discover Our Services</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-sm-6">
        <div class="service-item">
          <i class="flaticon-036-parking"></i>
          <h4>Travel Plan</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
            labore et dolore magna.</p>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="service-item">
          <i class="flaticon-033-dinner"></i>
          <h4>Catering Service</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
            labore et dolore magna.</p>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="service-item">
          <i class="flaticon-026-bed"></i>
          <h4>Babysitting</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
            labore et dolore magna.</p>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="service-item">
          <i class="flaticon-024-towel"></i>
          <h4>Laundry</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
            labore et dolore magna.</p>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="service-item">
          <i class="flaticon-044-clock-1"></i>
          <h4>Hire Driver</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
            labore et dolore magna.</p>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="service-item">
          <i class="flaticon-012-cocktail"></i>
          <h4>Bar & Drink</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
            labore et dolore magna.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Services Section End -->

<!-- Rooms Section Begin -->
<section class="rooms-section spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="room-item">
          <img src="assets/img/room/room-1.jpg" alt="">
          <div class="ri-text">
            <h4>Premium King Room</h4>
            <h3>159$<span>/Pernight</span></h3>
            <table>
              <tbody>
              <tr>
                <td class="r-o">Size:</td>
                <td>30 ft</td>
              </tr>
              <tr>
                <td class="r-o">Capacity:</td>
                <td>Max persion 3</td>
              </tr>
              <tr>
                <td class="r-o">number floor:</td>
                <td>3</td>
              </tr>
              <tr>
                <td class="r-o">Room Standard:</td>
                <td>3 star</td>
              </tr>
              <tr>
                <td class="r-o">Services:</td>
                <td>Wifi, Television, Bathroom,...</td>
              </tr>
              <tr>
                <td class="r-o"><a href="#" data-toggle="modal" data-target="#myModal"
                                   class="primary-btn" style="color: red">Delete</a></td>
                <td><a href="/edit.html" class="primary-btn">Edit</a></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="room-item">
          <img src="assets/img/room/room-2.jpg" alt="">
          <div class="ri-text">
            <h4>Deluxe Room</h4>
            <h3>159$<span>/Pernight</span></h3>
            <table>
              <tbody>
              <tr>
                <td class="r-o">Size:</td>
                <td>30 ft</td>
              </tr>
              <tr>
                <td class="r-o">Capacity:</td>
                <td>Max persion 5</td>
              </tr>
              <tr>
                <td class="r-o">number floor:</td>
                <td>3</td>
              </tr>
              <tr>
                <td class="r-o">Room Standard:</td>
                <td>4 star</td>
              </tr>
              <tr>
                <td class="r-o">Services:</td>
                <td>Wifi, Television, Bathroom,...</td>
              </tr>
              <tr>
                <td class="r-o"><a href="#" data-toggle="modal" data-target="#myModal"
                                   class="primary-btn" style="color: red">Delete</a></td>
                <td><a href="/edit.html" class="primary-btn">Edit</a></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="room-item">
          <img src="assets/img/room/room-3.jpg" alt="">
          <div class="ri-text">
            <h4>Double Room</h4>
            <h3>159$<span>/Pernight</span></h3>
            <table>
              <tbody>
              <tr>
                <td class="r-o">Size:</td>
                <td>30 ft</td>
              </tr>
              <tr>
                <td class="r-o">Capacity:</td>
                <td>Max persion 2</td>
              </tr>
              <tr>
                <td class="r-o">number floor:</td>
                <td>3</td>
              </tr>
              <tr>
                <td class="r-o">Room Standard:</td>
                <td>4 star</td>
              </tr>
              <tr>
                <td class="r-o">Services:</td>
                <td>Wifi, Television, Bathroom,...</td>
              </tr>
              <tr>
                <td class="r-o"><a href="#" data-toggle="modal" data-target="#myModal"
                                   class="primary-btn" style="color: red">Delete</a></td>
                <td><a href="/edit.html" class="primary-btn">Edit</a></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="room-item">
          <img src="assets/img/room/room-4.jpg" alt="">
          <div class="ri-text">
            <h4>Luxury Room</h4>
            <h3>159$<span>/Pernight</span></h3>
            <table>
              <tbody>
              <tr>
                <td class="r-o">Size:</td>
                <td>30 ft</td>
              </tr>
              <tr>
                <td class="r-o">Capacity:</td>
                <td>Max persion 1</td>
              </tr>
              <tr>
                <td class="r-o">number floor:</td>
                <td>3</td>
              </tr>
              <tr>
                <td class="r-o">Room Standard:</td>
                <td>6 star</td>
              </tr>
              <tr>
                <td class="r-o">Services:</td>
                <td>Wifi, Television, Bathroom,...</td>
              </tr>
              <tr>
                <td class="r-o"><a href="#" data-toggle="modal" data-target="#myModal"
                                   class="primary-btn" style="color: red">Delete</a></td>
                <td><a href="/edit.html" class="primary-btn">Edit</a></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="room-item">
          <img src="assets/img/room/room-5.jpg" alt="">
          <div class="ri-text">
            <h4>Room With View</h4>
            <h3>159$<span>/Pernight</span></h3>
            <table>
              <tbody>
              <tr>
                <td class="r-o">Size:</td>
                <td>30 ft</td>
              </tr>
              <tr>
                <td class="r-o">Capacity:</td>
                <td>Max persion 1</td>
              </tr>
              <tr>
                <td class="r-o">number floor:</td>
                <td>3</td>
              </tr>
              <tr>
                <td class="r-o">Room Standard:</td>
                <td>6 star</td>
              </tr>
              <tr>
                <td class="r-o">Services:</td>
                <td>Wifi, Television, Bathroom,...</td>
              </tr>
              <tr>
                <td class="r-o"><a href="#" data-toggle="modal" data-target="#myModal"
                                   class="primary-btn" style="color: red">Delete</a></td>
                <td><a href="/edit.html" class="primary-btn">Edit</a></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="room-item">
          <img src="assets/img/room/room-6.jpg" alt="">
          <div class="ri-text">
            <h4>Small View</h4>
            <h3>159$<span>/Pernight</span></h3>
            <table>
              <tbody>
              <tr>
                <td class="r-o">Size:</td>
                <td>30 ft</td>
              </tr>
              <tr>
                <td class="r-o">Capacity:</td>
                <td>Max persion 2</td>
              </tr>
              <tr>
                <td class="r-o">number floor:</td>
                <td>3</td>
              </tr>
              <tr>
                <td class="r-o">Room Standard:</td>
                <td>4 star</td>
              </tr>
              <tr>
                <td class="r-o">Services:</td>
                <td>Wifi, Television, Bathroom,...</td>
              </tr>
              <tr>
                <td class="r-o"><a href="#" data-toggle="modal" data-target="#myModal"
                                   class="primary-btn" style="color: red">Delete</a></td>
                <td><a href="/edit.html" class="primary-btn">Edit</a></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="room-pagination">
          <a href="#">1</a>
          <a href="#">2</a>
          <a href="#">Next <i class="fa fa-long-arrow-right"></i></a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="canvas-close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Delete Service</h4>
      </div>
      <div class="modal-body">
        <p style="color: Red">Do you want to DELETE ?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Delete</button>
      </div>
    </div>

  </div>
</div>

<!-- Rooms Section End -->
