<!DOCTYPE html>
<html>
<head>
  <title>Customer Detail</title>
</head>
<body>
<h2>Customer Of Furama</h2>
<div class="card" style="width: 18rem;">
  <img src="https://bazantravel.com/cdn/medias/uploads/53/53114-furama-resort-da-nang-11.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title" >{{this.customer.id}}</h5>
    <h5 class="card-title" >{{this.customer.codeId}}</h5>
    <h5 class="card-title" >{{this.customer.name}}</h5>
    <h5 class="card-title" >{{this.customer.date}}</h5>
    <h5 class="card-title" >{{this.customer.code}}</h5>
    <h5 class="card-title" >{{this.customer.gender}}</h5>
    <h5 class="card-title" >{{this.customer.phone}}</h5>
    <h5 class="card-title" >{{this.customer.email}}</h5>
    <h5 class="card-title" >{{this.customer.address}}</h5>
    <h5 class="card-title" >{{this.customer.type}}</h5>
    <a routerLink="/list" class="btn btn-primary">List Customer</a>
  </div>
</div>
</body>
</html>
